<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="roomType">
            <h2><span jhiTranslate="geoTimeApp.roomType.detail.title">Room Type</span> {{roomType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="geoTimeApp.roomType.name">Name</span></dt>
                <dd>
                    <span>{{roomType.name}}</span>
                </dd>
                <dt><span jhiTranslate="geoTimeApp.roomType.description">Description</span></dt>
                <dd>
                    <span>{{roomType.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
                    [routerLink]="['/', { outlets: { popup: 'room-type/'+ roomType.id + '/edit'} }]"
                    replaceUrl="true"
                    queryParamsHandling="merge"
                    class="btn btn-primary">
                <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
