<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="studyField">
            <h2><span jhiTranslate="geoTimeApp.studyField.detail.title">Study Field</span> {{studyField.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="geoTimeApp.studyField.name">Name</span></dt>
                <dd>
                    <span>{{studyField.name}}</span>
                </dd>
                <dt><span jhiTranslate="geoTimeApp.studyField.shortName">Short Name</span></dt>
                <dd>
                    <span>{{studyField.shortName}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/', { outlets: { popup: 'study-field/'+ studyField.id + '/edit'} }]"
                    replaceUrl="true"
                    queryParamsHandling="merge"
                    class="btn btn-primary">
                <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
