<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySchedulingTimeFrameLabel"
            jhiTranslate="geoTimeApp.schedulingTimeFrame.home.createOrEditLabel">Create or edit a Scheduling Time
            Frame</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!schedulingTimeFrame.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="schedulingTimeFrame.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="geoTimeApp.schedulingTimeFrame.subdepartment"
                   for="field_subdepartment">Subdepartment</label>
            <select class="form-control" id="field_subdepartment" name="subdepartment"
                    [(ngModel)]="schedulingTimeFrame.subdepartmentId" required>
                <option [ngValue]="subdepartmentOption.id"
                        *ngFor="let subdepartmentOption of subdepartments; trackBy: trackSubdepartmentById">{{subdepartmentOption.shortName}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.subdepartment?.dirty && editForm.controls.subdepartment?.invalid)">
            <small class="form-text text-danger"
                   [hidden]="!editForm.controls.subdepartment?.errors?.required"
                   jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="geoTimeApp.schedulingTimeFrame.userGroup"
                   for="field_userGroup">User Group</label>
            <select class="form-control" id="field_userGroup" name="userGroup"
                    [(ngModel)]="schedulingTimeFrame.userGroupId" required>
                <option [ngValue]="userGroupOption.id"
                        *ngFor="let userGroupOption of usergroups; trackBy: trackUserGroupById">{{userGroupOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.userGroup?.dirty && editForm.controls.userGroup?.invalid)">
            <small class="form-text text-danger"
                   [hidden]="!editForm.controls.userGroup?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="geoTimeApp.schedulingTimeFrame.startTime"
                   for="field_startTime">Start Time</label>
            <div class="d-flex">
                <input id="field_startTime" type="datetime-local" class="form-control" name="startTime"
                       [(ngModel)]="schedulingTimeFrame.startTime"
                       required/>
            </div>
            <div [hidden]="!(editForm.controls.startTime?.dirty && editForm.controls.startTime?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.startTime?.errors?.required"
                       jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.startTime?.errors?.ZonedDateTimelocal"
                       jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="geoTimeApp.schedulingTimeFrame.endTime" for="field_endTime">End
                Time</label>
            <div class="d-flex">
                <input id="field_endTime" type="datetime-local" class="form-control" name="endTime"
                       [(ngModel)]="schedulingTimeFrame.endTime"
                       required/>
            </div>
            <div [hidden]="!(editForm.controls.endTime?.dirty && editForm.controls.endTime?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.endTime?.errors?.required"
                       jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.endTime?.errors?.ZonedDateTimelocal"
                       jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="geoTimeApp.schedulingTimeFrame.semester"
                   for="field_semester">Semester</label>
            <select class="form-control" id="field_semester" name="semester"
                    [(ngModel)]="schedulingTimeFrame.semesterId" required>
                <option [ngValue]="semesterOption.id"
                        *ngFor="let semesterOption of semesters; trackBy: trackSemesterById">{{semesterOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.semester?.dirty && editForm.controls.semester?.invalid)">
            <small class="form-text text-danger"
                   [hidden]="!editForm.controls.semester?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
